
.contibutors_container{
    margin-top: 5%;
    background-color: $priemery-bg-color;
    height: 100%;
}
.Contributors_title{
    display: flex;
    justify-content: center;
    align-items: center;
     width: 100%;
    
 }
 .Contributors_title h1{
    color: #000;
    padding: 10px;
    margin-top: 10px;
    border-bottom:2px solid #000;
    margin-bottom: 10px;
}
.Contributors_list{
   
    padding: 20px;
}
.Contributors_list nav{
    display: block;

}
.Contributors_list nav ul li{
    color: #000;
    margin-bottom: 1rem;
    line-height: 2rem;
}
.Contributors_list li a{
    
    color: #000;
    text-decoration: underline;
}
.Contributors_list span{
    color: #000;
    margin-left: 10px;

}
@media only screen and (min-width: 890px) {
    .Contributors_list nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 5rem;
    }
}