.contibutors_container{
    background-color: #A0793D;
    height: 100%;
}
.Contributors_title{
    display: flex;
    justify-content: center;
    align-items: center;
     width: 100%;
 }
 .Contributors_title h1{
    color: #ffff;
    width: 140px;
    padding: 10px;
    border-bottom: 1px solid #c3c3c3;
    margin-bottom: 10px;
}
.Contributors_list{
   
    padding: 20px;
}
.Contributors_list nav{
    display: block;

}
.Contributors_list nav ul li{
    list-style: circle;
    margin-bottom: 20px;
}
.Contributors_list li a{
    
    color: #fff;
    text-decoration: underline;
}
.Contributors_list span{
    color: #ffff;
    margin-left: 10px;

}
@media only screen and (min-width: 750px) {

    .Contributors_list nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
    
    }
}