.Data_section{
    background-color: #a0793d;
}
.Data_container {
    height: 100%;
    color: #fff;
    padding: 20px;
   
}
.processing_storage {
    display: block;
    padding: 10px;
}
.datasets_annotation {
    padding: 10px;
    display: block;
}
.data-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    color: #fff;
  
}
.data-title h1{
  
    padding-bottom: 5px;
    border-bottom:2px solid #ECE6D9 ;
}
.Datasets_contaier h3,
.processing-container h3 {
    margin-bottom: 10px;
}

.Datasets_contaier li a,
.processing-container li a {
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    text-decoration: underline;
}
.Datasets_contaier li,
.processing-container li {
    padding-bottom: 10px;
}
.Datasets_contaier ul,
.processing-container ul {
    margin-top: 10px;
}
.Description {
    color: #e7e7e7;
    font-size: 16px;
    font-weight: 500;
    margin-left: 12%;
    margin-bottom: 20px;
}
.Storage_container,
.Anotation_container{
    cursor: progress;
}
.Anotation_container h3 {
    padding-bottom: 10px;
}
.Storage_container h3 {
    padding-bottom: 10px;
}
.Datasets_contaier h5{
    margin-left: 5%;
}
.Datasets_contaier li,
    .processing-container li {
        margin-left: 10%;
    }
@media only screen and (min-width: 850px) {
    .Data_section{
        background-color: #a0793d;
        clip-path: polygon(100% 100%, 50% 88%, 0 100%, 0 19%, 50% 0, 100% 17%);
    }
    .Data_container {
        display: flex;
        justify-content: space-evenly;
        margin: 3% 8%;
    }

    .Description {
        width: 100%;
        font-size: 18px;
        margin-left: 11%;
    }
    .datasets_annotation,
    .processing_storage {
        padding: 5%; 
    }
    .datasets_annotation {
        width: 100%;
        border-right: 1px solid #c3c3c3;
    }
    .processing_storage {
        width: 100%;
    }
    .Datasets_contaier li a,
    .processing-container li a {
        font-size: 20px;
      
    }
    
}
