
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 70px;
    position: sticky;
    top: 0;
    box-shadow: 1px 3px 6px rgba(0,0,0,0.6);
    z-index: 999;
}
header .navItems{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    margin-right: 10px;
    padding: 10px 12px;
}   
header li a {
    padding: 10px;
    color: #a0793d;
    font-size: 17px;
    opacity: 0.5;
    font-weight: 700;
}
.logo{
    width: 220px;
}
.active a{
    opacity: 1;
    border-bottom: 2px solid #a0793d;
    // padding-bottom: 10px;
}
//for the small devices
@media only screen and (max-width: 960px) {
    header{
        justify-content: center;
    }
    header li a {
        display: none;
    }
    header .navItems{
        padding: 0;
        margin: 0;
    }
}