.team_title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #000;
    margin-top: 2em;
}
.team_title h1 {
    width: 100px;
    padding: 10px;
    border-bottom: 2px solid #000;
    margin-bottom: 10px;
    text-align: center;
}
.develpoer_team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // padding-top: 4%;
}
.card {
    width: 350px;
    height: 100%;
    margin: 20px;
}
.profile-photo {
    object-fit: cover;
    object-position: top;
    width: 80px;
    height: 80px;
    border-radius: 60%;
    position: relative;
    bottom: 30%;
    right: 40%;
    box-shadow: 4px 4px 10px 1px #26202099;
}
.member-container {
    max-width: 350px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: $priemery-bg-color;
    color: #000;
    border-radius: 10px;
}
.member-info p {
    margin-top: 10px;
    font-size: 16px;
}
.member-info p::first-letter {
    text-transform: uppercase;
}
.member-info p a {
    color: #000;
    text-decoration: underline;
}
.member-info h4 a {
    font-size: 18px;
    text-decoration: underline;
    color: #000;
}
.member-info h4 {
    text-align: start;
}

@media only screen and (min-width: 750px) {
    .card:nth-child(2) {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 2%;
    }
    .card:nth-child(2) .member-container {
        height: 100%;
        justify-content: flex-start;
    }
    .card:nth-child(2) .profile-photo {
        object-fit: cover;
        object-position: center;
    }
}
