header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  height: 70px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.mainNav {
  display: flex;
  align-items: center;
}

header nav .navItems {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  margin-right: 10px;
  padding: 10px 12px;
}

header li a {
  padding: 10px;
  color: #a0793d;
  font-size: 15px;
}

.logo {
  width: 300px;
}

.Data_container {
  background-color: #a0793d;
  height: 100%;
  color: #fff;
  padding: 20px;
}

.processing_storage {
  display: block;
  padding: 10px;
}

.datasets_annotation {
  margin-top: 10%;
  padding: 10px;
  display: block;
}

.data-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50px;
  color: #fff;
  z-index: 1;
  width: auto;
}

.Datasets_contaier h3,
.processing-container h3 {
  margin-bottom: 10px;
}

.Datasets_contaier li a,
.processing-container li a {
  font-weight: 500;
  font-size: 18px;
  color: #e7e7e7;
  text-decoration: underline;
}

.Datasets_contaier li,
.processing-container li {
  padding-bottom: 10px;
}

.Datasets_contaier ul,
.processing-container ul {
  margin-top: 10px;
}

.Description {
  color: #e7e7e7;
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
  padding-bottom: 10px;
}

.Storage_container,
.Anotation_container {
  cursor: progress;
}

.Anotation_container h3 {
  padding-bottom: 10px;
}

.Storage_container h3 {
  padding-bottom: 10px;
}

@media only screen and (min-width: 850px) {
  .Data_container {
    display: flex;
    justify-content: space-between;
    -webkit-clip-path: polygon(100% 100%, 50% 88%, 0 100%, 0 19%, 50% 0, 100% 17%);
            clip-path: polygon(100% 100%, 50% 88%, 0 100%, 0 19%, 50% 0, 100% 17%);
  }
  .data-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    top: 100px;
    z-index: 1;
  }
  .Description {
    width: 100%;
    font-size: 17px;
  }
  .datasets_annotation,
.processing_storage {
    margin-top: 10%;
    padding: 5%;
  }
  .datasets_annotation {
    width: 50%;
    border-right: 1px solid #c3c3c3;
  }
  .processing_storage {
    width: 50%;
  }
  .Datasets_contaier li a,
.processing-container li a {
    font-size: 20px;
  }
}
.team_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #835825;
  margin-bottom: 20px;
}

.team_title h1 {
  width: 100px;
  padding: 10px;
  border-bottom: 1px solid #835825;
  margin-bottom: 10px;
  text-align: center;
}

.develpoer_team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 350px;
  height: 100%;
  margin: 20px;
}

.profile-photo {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  position: relative;
  bottom: 25%;
  right: 38%;
  box-shadow: 0px 0px 5px 5px rgba(38, 32, 32, 0.6);
}

.member-container {
  max-width: 350px;
  max-height: 100%;
  height: 10em;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #a0793d;
  color: #fff;
  border-radius: 10px;
}

.member-info p {
  margin-top: 10px;
  font-size: 16px;
}

.member-info p::first-letter {
  text-transform: uppercase;
}

.member-info p a {
  color: #fff;
  text-decoration: underline;
}

.member-info h4 a {
  color: #fff;
  font-size: 18px;
  text-decoration: underline;
}

.member-info h4 {
  text-align: start;
}

@media only screen and (min-width: 750px) {
  .card:nth-child(1) {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
  }
  .card:nth-child(1) .member-container {
    height: 100%;
    justify-content: flex-start;
  }
  .develpoer_team {
    margin-top: 1%;
  }
}
.contibutors_container {
  margin-top: 5%;
  background-color: #A0793D;
  height: 100%;
}

.Contributors_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Contributors_title h1 {
  color: white;
  padding: 10px;
  margin-top: 10px;
  border-bottom: 1px solid #c3c3c3;
  margin-bottom: 10px;
}

.Contributors_list {
  padding: 20px;
}

.Contributors_list nav {
  display: block;
}

.Contributors_list nav ul li {
  list-style: circle;
  margin-bottom: 20px;
}

.Contributors_list li a {
  color: #fff;
  text-decoration: underline;
}

.Contributors_list span {
  color: white;
  margin-left: 10px;
}

@media only screen and (min-width: 750px) {
  .Contributors_list nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #e7e7e7;
}

a {
  text-decoration: none;
}

.Introduction-container {
  display: block;
  color: #fff;
  height: 100%;
  padding: 15px;
}

.intro-img {
  position: absolute;
  background-image: url("./img/bg-lawNotationHome.jpg");
  max-width: 100%;
  width: 100%;
  min-height: 85vh;
  filter: brightness(40%);
  z-index: -1;
  background-position: center;
}

.intro-text {
  width: 100%;
}

.intro-text p {
  margin-top: 10px;
}

footer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #a0793d;
  padding-left: 4%;
  color: white;
}

footer h2 {
  font-size: 20px;
  margin: 10px;
}

footer p {
  padding: 10px;
  margin-left: 20px;
  font-size: 17px;
}

footer p a {
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 750px) {
  .Introduction-container {
    padding: 0;
  }
  .intro-text {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    align-self: center;
    width: 85%;
    height: 100%;
  }
  .intro-img {
    min-height: 100vh;
  }
  .intro-text p {
    width: 40%;
    font-size: 18px;
    margin: 0;
    padding-bottom: 10px;
  }
  .intro-text .text_bottom {
    margin-top: 3%;
  }
  .intro-text:nth-child(2) {
    display: flex;
    justify-content: center;
    margin: 5% 0;
  }
}/*# sourceMappingURL=main.css.map */