@import "./style/header";
@import "./style/Data_software";
@import "./style//team";
@import "./style/contibutors";
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color: #e7e7e7;
}
a {
    text-decoration: none;
}
.Introduction-container {
    display: block;
    color: #fff;
    height: 100%;
    padding: 15px;
}
.intro-img {
    position: absolute;
    background-image: url("./img/bg-lawNotationHome.jpg");
    max-width: 100%;
    width: 100%;
    min-height: 85vh;
    filter: brightness(40%);
    z-index: -1;
    background-position: center;
}
.intro-text {
    width: 100%;
}
.intro-text:nth-child(2) {
    margin: 10% 0;
}
.intro-text p {
    margin-top: 10px;
}
footer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #a0793d;
    padding-left: 4%;
    color: #ffff;
}
footer h2 {
    font-size: 20px;
    margin: 10px;
}
footer p {
    padding: 10px;
    margin-left: 20px;
    font-size: 17px;
}
footer p a {
    text-decoration: underline;
}
main {
    display: flex;
    flex-direction: column;
}
@media only screen and (min-width: 750px) {
    .Introduction-container {
        padding: 0;
    }
    .intro-text {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        align-self: center;
        
    }
    .intro-img {
        min-height: 100%;
    }
    .intro-text p {
        width: 40%;
       
        font-size: 18px;
        margin: 0;
        padding: 5px 20px;
    }
    .intro-text .text_bottom {
        margin-top: 3%;
    }
    .intro-text:nth-child(2) {
        display: flex;
        justify-content: center;
       margin: 5% 0;
    }
}
