header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 70px;
  position: sticky;
  top: 0;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.6);
  z-index: 999;
}

header .navItems {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  margin-right: 10px;
  padding: 10px 12px;
}

header li a {
  padding: 10px;
  color: #a0793d;
  font-size: 17px;
  opacity: 0.5;
  font-weight: 700;
}

.logo {
  width: 300px;
}

.active a {
  opacity: 1;
  border-bottom: 2px solid #a0793d;
}

@media only screen and (max-width: 960px) {
  header {
    justify-content: center;
  }
  header li a {
    display: none;
  }
  header .navItems {
    padding: 0;
    margin: 0;
  }
}
.Data_container {
  height: 100%;
  color: #000;
}

.processing_storage,
.datasets_annotation {
  display: block;
  padding: 10px;
}

.data-title {
  display: flex;
  justify-content: center;
  padding-top: 3em;
}

.data-title h1 {
  width: 60%;
  text-align: center;
  position: relative;
  padding: 10px;
  z-index: 1;
  border-bottom: 2px solid #ece6d9;
}

.data-title h1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 24%;
  background-color: #B6CDDA;
  height: 100%;
  width: 50%;
  z-index: -1;
  transform: skew(-5deg, -5deg);
}

.Datasets_contaier h3,
.processing-container h3 {
  margin-bottom: 10px;
}

.Datasets_contaier li a,
.processing-container li a {
  font-weight: 500;
  font-size: 18px;
  color: #000;
  text-decoration: underline;
}

.Datasets_contaier li,
.processing-container li {
  padding-bottom: 10px;
}

.Datasets_contaier ul,
.processing-container ul {
  margin-top: 10px;
}

.Description {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  margin-left: 12%;
  margin-bottom: 20px;
}

.annotation_storge {
  cursor: progress;
}

.Datasets_contaier h5 {
  margin-left: 5%;
}

.Datasets_contaier li,
.processing-container li {
  margin-left: 10%;
}

@media only screen and (min-width: 855px) {
  .Data_container {
    display: block;
    justify-content: space-evenly;
    margin: 3% 8%;
  }
  .Description {
    width: 100%;
    font-size: 16px;
    padding-top: 10px;
    margin-left: 4%;
  }
  .datasets_annotation,
  .processing_storage {
    padding: 5%;
  }
  .datasets_annotation {
    width: 100%;
  }
  .processing_storage {
    width: 100%;
  }
  .Datasets_contaier ul,
  .processing-container ul {
    display: flex;
  }
  .Datasets_contaier li p {
    border-right: 1px solid #cecece;
  }
  .Datasets_contaier li a,
  .processing-container li a {
    font-size: 20px;
  }
  .data-title h1::after {
    left: 35%;
    width: 30%;
  }
}
.team_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #000;
  margin-top: 4em;
}

.team_title h1 {
  width: 100px;
  padding: 10px;
  border-bottom: 2px solid #000;
  margin-bottom: 10px;
  text-align: center;
}

.develpoer_team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 350px;
  height: 100%;
  margin: 20px;
}

.profile-photo {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 80px;
  height: 80px;
  border-radius: 60%;
  position: relative;
  bottom: 30%;
  right: 40%;
  box-shadow: 4px 4px 10px 1px rgba(38, 32, 32, 0.6);
}

.member-container {
  max-width: 350px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #EDE6DA;
  color: #000;
  border-radius: 10px;
}

.member-info p {
  margin-top: 10px;
  font-size: 16px;
}

.member-info p::first-letter {
  text-transform: uppercase;
}

.member-info p a {
  color: #000;
  text-decoration: underline;
}

.member-info h4 a {
  font-size: 18px;
  text-decoration: underline;
  color: #000;
}

.member-info h4 {
  text-align: start;
}

@media only screen and (min-width: 750px) {
  .card:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
  }
  .card:nth-child(2) .member-container {
    height: 100%;
    justify-content: flex-start;
  }
  .card:nth-child(2) .profile-photo {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}
.contibutors_container {
  margin-top: 5%;
  background-color: #EDE6DA;
  height: 100%;
}

.Contributors_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Contributors_title h1 {
  color: #000;
  padding: 10px;
  margin-top: 10px;
  border-bottom: 2px solid #000;
  margin-bottom: 10px;
}

.Contributors_list {
  padding: 20px;
}

.Contributors_list nav {
  display: block;
}

.Contributors_list nav ul li {
  color: #000;
  margin-bottom: 20px;
}

.Contributors_list li a {
  color: #000;
  text-decoration: underline;
}

.Contributors_list span {
  color: #000;
  margin-left: 10px;
}

@media only screen and (min-width: 890px) {
  .Contributors_list nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 5rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

a {
  text-decoration: none;
}

.Introduction-container {
  position: relative;
  background-color: #EDE6DA;
  display: block;
  color: #000;
  height: 100%;
  padding: 15px;
}

.intro-text {
  width: 100%;
  margin-top: 2em;
}

.intro-text p {
  margin-top: 2em;
  line-height: 1.3rem;
}

.intro-text h1 {
  position: relative;
  padding: 10px;
  text-align: center;
  z-index: 1;
}

.intro-text h1::after {
  position: absolute;
  top: 0;
  left: 25%;
  content: "";
  background-color: #B6CDDA;
  height: 100%;
  width: 50%;
  z-index: -1;
  transform: skew(-5deg, -5deg);
}

.book-mark {
  position: absolute;
  background-color: #DAB6BD;
  width: 3rem;
  height: 7rem;
  top: 0;
  z-index: 1;
  right: 30px;
  -webkit-clip-path: polygon(100% 100%, 50% 70%, 0 100%, 0% 0%, 100% 0, 100% 60%);
          clip-path: polygon(100% 100%, 50% 70%, 0 100%, 0% 0%, 100% 0, 100% 60%);
}

footer {
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #EDE6DA;
  background-image: url(./img/plus.svg);
  padding-left: 4%;
  color: #000;
}

footer h2 {
  font-size: 20px;
  margin: 10px;
}

footer p {
  padding: 10px;
  font-size: 17px;
  margin-bottom: 3em;
}

footer p a {
  color: #0D5984;
  text-decoration: underline;
  font-size: 20px;
}

main {
  display: flex;
  flex-direction: column;
}

.Intro-Title-section {
  display: block;
  background-image: url(../assets/img/plus.svg);
}

.catch-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catch-title h1 {
  width: 80%;
  font-size: 2rem;
  margin-top: 2rem;
  line-height: 3.5rem;
}

.catch-title h1 span {
  position: relative;
  color: #0D8435;
  z-index: 1;
  padding: 5px;
  text-align: center;
}

.catch-title h1 span::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #B6DAC2;
  left: 0;
  z-index: -1;
  transform: skew(-5deg, -5deg);
}

.catch-title h1 span:nth-child(2) {
  color: #0D5984;
}

.catch-title h1 span:nth-child(2)::after {
  background-color: #B6CDDA;
}

.catch-title h1 span:nth-child(3) {
  color: #840D22;
}

.catch-title h1 span:nth-child(3)::after {
  background-color: #DAB6BD;
}

.btn-container {
  display: flex;
  padding: 10px;
}

.btn-container button {
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 15px;
}

.btn-container .start-btn,
.btn-container .read-btn {
  background-color: #0D5984;
  border: none;
  outline: none;
  color: #fff;
  padding: 1rem;
  width: 100%;
  border-radius: 50px;
}

.btn-container .read-btn {
  background-color: transparent;
  border: 2px solid #0D5984;
  color: #0D5984;
}

.readData-btn {
  align-self: flex-start;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: transparent;
  border: 2px solid #0D5984;
  width: 10%;
  border-radius: 50px;
  margin-left: 20%;
  margin-bottom: 20px;
  cursor: pointer;
}

.readData-enter-active,
.readData-leave-active {
  transition: all 1s ease-in-out;
  opacity: 1;
}

.readData-enter-from,
.readData-leave-to {
  transition: all 1s ease-in-out;
  opacity: 0;
}

@media only screen and (min-width: 855px) {
  .catch-title h1 {
    margin-top: 3rem;
    font-size: 8rem;
    line-height: 10rem;
  }
  .btn-container {
    margin: 3% 0 0% 10%;
  }
  .btn-container .start-btn,
  .btn-container .read-btn {
    width: 15rem;
  }
  .Introduction-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDE6DA;
    padding: 0;
    font-size: 18px;
    margin: 1rem 15%;
    box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.1);
  }
  .intro-text {
    margin: 1rem 0;
    width: 60%;
  }
  .intro-text p {
    padding: 1rem;
    margin-top: 1rem;
    line-height: 1.8rem;
  }
  .intro-text h1::after {
    width: 25%;
    left: 38%;
  }
  .intro-text .border {
    border: 10px solid rgba(0, 0, 0, 0);
  }
}/*# sourceMappingURL=main.css.map */