header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 70px;
  position: sticky;
  top: 0;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.6);
  z-index: 999;
}

header .navItems {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  margin-right: 10px;
  padding: 10px 12px;
}

header li a {
  padding: 10px;
  color: #a0793d;
  font-size: 17px;
  opacity: 0.5;
  font-weight: 700;
}

.logo {
  width: 300px;
}

.active a {
  opacity: 1;
  border-bottom: 2px solid #a0793d;
}

@media only screen and (max-width: 750px) {
  header {
    justify-content: center;
  }
  header li a {
    display: none;
  }
  header .navItems {
    padding: 0;
    margin: 0;
  }
}
.Data_section {
  background-color: #a0793d;
}

.Data_container {
  height: 100%;
  color: #fff;
  padding: 20px;
}

.processing_storage {
  display: block;
  padding: 10px;
}

.datasets_annotation {
  padding: 10px;
  display: block;
}

.data-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  color: #fff;
}

.data-title h1 {
  padding-bottom: 5px;
  border-bottom: 2px solid #ECE6D9;
}

.Datasets_contaier h3,
.processing-container h3 {
  margin-bottom: 10px;
}

.Datasets_contaier li a,
.processing-container li a {
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  text-decoration: underline;
}

.Datasets_contaier li,
.processing-container li {
  padding-bottom: 10px;
}

.Datasets_contaier ul,
.processing-container ul {
  margin-top: 10px;
}

.Description {
  color: #e7e7e7;
  font-size: 16px;
  font-weight: 500;
  margin-left: 12%;
  margin-bottom: 20px;
}

.Storage_container,
.Anotation_container {
  cursor: progress;
}

.Anotation_container h3 {
  padding-bottom: 10px;
}

.Storage_container h3 {
  padding-bottom: 10px;
}

.Datasets_contaier h5 {
  margin-left: 5%;
}

.Datasets_contaier li,
.processing-container li {
  margin-left: 10%;
}

@media only screen and (min-width: 850px) {
  .Data_section {
    background-color: #a0793d;
    -webkit-clip-path: polygon(100% 100%, 50% 88%, 0 100%, 0 19%, 50% 0, 100% 17%);
            clip-path: polygon(100% 100%, 50% 88%, 0 100%, 0 19%, 50% 0, 100% 17%);
  }
  .Data_container {
    display: flex;
    justify-content: space-evenly;
    margin: 3% 8%;
  }
  .Description {
    width: 100%;
    font-size: 18px;
    margin-left: 11%;
  }
  .datasets_annotation,
  .processing_storage {
    padding: 5%;
  }
  .datasets_annotation {
    width: 100%;
    border-right: 1px solid #c3c3c3;
  }
  .processing_storage {
    width: 100%;
  }
  .Datasets_contaier li a,
  .processing-container li a {
    font-size: 20px;
  }
}
.team_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #835825;
  margin-top: 4em;
}

.team_title h1 {
  width: 100px;
  padding: 10px;
  border-bottom: 2px solid #835825;
  margin-bottom: 10px;
  text-align: center;
}

.develpoer_team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 350px;
  height: 100%;
  margin: 20px;
}

.profile-photo {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  position: relative;
  bottom: 30%;
  right: 40%;
  box-shadow: 4px 4px 10px 1px rgba(38, 32, 32, 0.6);
}

.member-container {
  max-width: 350px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: linear-gradient(319deg, rgb(160, 121, 61) 0%, rgb(198, 152, 83) 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#A0793D",endColorstr="#C69853",GradientType=1);
  color: #fff;
  border-radius: 10px;
}

.member-info p {
  margin-top: 10px;
  font-size: 16px;
}

.member-info p::first-letter {
  text-transform: uppercase;
}

.member-info p a {
  color: #fff;
  text-decoration: underline;
}

.member-info h4 a {
  color: #fff;
  font-size: 18px;
  text-decoration: underline;
}

.member-info h4 {
  text-align: start;
}

@media only screen and (min-width: 750px) {
  .card:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
  }
  .card:nth-child(2) .member-container {
    height: 100%;
    justify-content: flex-start;
  }
}
.contibutors_container {
  margin-top: 5%;
  background-color: #A0793D;
  height: 100%;
}

.Contributors_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Contributors_title h1 {
  color: white;
  padding: 10px;
  margin-top: 10px;
  border-bottom: 2px solid #ECE6D9;
  margin-bottom: 10px;
}

.Contributors_list {
  padding: 20px;
}

.Contributors_list nav {
  display: block;
}

.Contributors_list nav ul li {
  color: white;
  margin-bottom: 20px;
}

.Contributors_list li a {
  color: #fff;
  text-decoration: underline;
}

.Contributors_list span {
  color: white;
  margin-left: 10px;
}

@media only screen and (min-width: 890px) {
  .Contributors_list nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 5rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #ECE6D9;
}

a {
  text-decoration: none;
}

.Introduction-container {
  display: block;
  color: #fff;
  height: 100%;
  padding: 15px;
}

.intro-img {
  position: absolute;
  background-image: url("./img/bg-lawNotationHome.jpg");
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
  filter: brightness(40%);
  z-index: -1;
  background-position: center;
}

.intro-text {
  width: 100%;
}

.intro-text:nth-child(2) {
  margin: 2rem 0;
}

.intro-text p {
  margin-top: 10px;
}

footer {
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #a0793d;
  padding-left: 4%;
  color: white;
}

footer h2 {
  font-size: 20px;
  margin: 10px;
}

footer p {
  padding: 10px;
  font-size: 17px;
  margin-bottom: 3em;
}

footer p a {
  color: #f5eede;
  text-decoration: underline;
  font-size: 20px;
}

main {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 750px) {
  .Introduction-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
    padding: 0;
    gap: 2em;
    font-size: 18px;
    margin: 3rem 5rem;
  }
  .intro-img {
    min-height: 100%;
  }
  .intro-text:nth-child(1) {
    grid-column-start: 2;
  }
  .intro-text:nth-child(2) {
    grid-column-start: 1;
    margin: 0;
  }
  .intro-text:nth-child(3) {
    grid-column-start: 2;
    grid-row-start: 3;
  }
}
@media only screen and (min-width: 1350px) {
  .Introduction-container {
    margin: 4rem 12rem;
  }
}/*# sourceMappingURL=main.css.map */